.employee-card{
   
    padding: 10px;
    box-shadow: 5px 10px 5px;
      border-radius: 25px;

}

.card-header{
    background-color: coral;
      border-radius: 25px !important;

}

.team-heading{
    background-color: coral;
}

